name: Release

on:
  push:
    tags:
      - 'v*' # Run workflow on version tags, e.g. v1.0.0.

jobs:
  release:
    permissions:
      id-token: write
      contents: write
      attestations: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Check if current tag is in CHANGELOG.md
        run: |
          TAG="${GITHUB_REF##*/}"
          if ! grep -q "## \[${TAG}\]" CHANGELOG.md; then
            echo "ERROR: Current tag (${TAG}) not found in CHANGELOG.md. Please update the changelog before releasing."
            exit 1
          fi

      - uses: grafana/plugin-actions/build-plugin@main
        with:
          # see https://grafana.com/developers/plugin-tools/publish-a-plugin/sign-a-plugin#generate-an-access-policy-token to generate it
          # save the value in your repository secrets
          policy_token: ${{ secrets.GRAFANA_ACCESS_POLICY_TOKEN }}
          go-version: '1.25.6'
          node-version: '22.x'
          use_changelog_generator: false
          attestation: true
